<body class="body-regist">
    
<div class="bar-menu">

        <div class="logo">
            <a href="/"><h3 ><img src="/img/logo.png" alt="" style="width: 45px; margin-left: 30px; margin-top: -13px;"></h3></a>
        </div>

        <div class="options">
            <a href="/products"><li>Produtos</li></a>
            <a href="/admin"><li>Ãrea Admin</li></a>
            <h1 class="bar"></h1>
            <a href="/user/registration"><li>Resgistrar</li></a>
            <a href="/user/login"><li>Entrar</li></a>
        </div>
        
</div>
    
<div class="div-regist">

<form action="/user/login" method="POST">
    <h1 class="h1-regist" style="margin-left:80px;">Entrar</h1>
    <br>
    <label class="label-email" for="email">Email :</label>
        <input class="input-email" type="email" name="email">
    <br>
    <label class="label-password" for="password">Senha:</label>
        <input class="input-password" type="password" name="password">
    <br>
    <button class="btn-regist" type="submit">Entrar</button>
</form>

</div>

</body>
