<body class="body-regist">
    


<div class="bar-menu">

        <div class="logo">
            <a href="/"><h3 ><img src="/img/logo.png" alt="" style="width: 45px; margin-left: 30px; margin-top: -13px;"></h3></a>
        </div>

        <div class="options">
            <a href="/products"><li>Produtos</li></a>
            <a href="/admin"><li>Área Admin</li></a>
            <h1 class="bar"></h1>
            <a href="http://localhost:5050/user/registration"><li>Resgistrar</li></a>
            <a href="/user/login"><li>Entrar</li></a>
            
        </div>
        
</div>

{{#each err}}
    <div class="each-regist">{{text}}</div>
{{else}}
{{/each}}


<div class="div-regist">


<form action="" method="POST">
    <h1 class="h1-regist">Crie sua conta</h1>
    <br>
    <label class="label-name" for="name">Nome:</label>
        <input class="input-name" type="text" name="name" >
        <br>
    <label class="label-email" for="email">E-mail</label>
        <input class="input-email" type="email" name="email" >
        <br>
    <label class="label-password" for="password">Senha:</label>
        <input class="input-password" type="password" name="password">
        <br>
    <label class="label-password" for="password">Senha:</label>
        <input class="input-password" type="password" name="password2" placeholder="Digíte novamente a senha">
        <br>
    <button class="btn-regist" type="submit">Criar Usuário</button>
    
</form>

<br>
<br>

</div>

</body>